<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Antix Nibbler" Language="1033" Version="1.0.0" Manufacturer="Antix Software Limited"
           UpgradeCode="500f2c62-b055-449c-81f0-f2ec5b409c86">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Antix Nibbler" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Antix Nibbler" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Nibbler" Win64="yes">
        <File Source="$(var.Antix.Nibbler.TargetDir)Antix.Nibbler.dll" />
      </Component>
      <Component Id="NibblerShell" Win64="yes">
        <File Id="fil14AC069DEBD4434F6AF1693199E63BAE" KeyPath="yes" Source="$(var.Antix.Nibbler.Shell.TargetDir)Antix.Nibbler.Shell.dll" />
        <RegistryValue Root="HKLM"
                       Key="Software\Classes\*\shellex\ContextMenuHandlers\CompressContextMenu"
                       Type="string"
                       Value="{72b27c08-dcb1-3007-a4b1-91f3d22e99bc}" />
        <RegistryValue Root="HKLM"
                       Key="Software\Classes\*\shellex\ContextMenuHandlers\CompressToMinContextMenu"
                       Type="string"
                       Value="{250d3181-b983-3bc2-8c7e-7ad27d28bca3}" />
        <Class Id="{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}" Context="InprocServer32"
               Description="Antix.Nibbler.Shell.CompressToMinContextMenu" ThreadingModel="both"
               ForeignServer="mscoree.dll">
          <ProgId Id="Antix.Nibbler.Shell.CompressToMinContextMenu"
                  Description="Antix.Nibbler.Shell.CompressToMinContextMenu" />
        </Class>
        <Class Id="{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}" Context="InprocServer32"
               Description="Antix.Nibbler.Shell.CompressContextMenu" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="Antix.Nibbler.Shell.CompressContextMenu" Description="Antix.Nibbler.Shell.CompressContextMenu" />
        </Class>
        <RegistryValue Root="HKCR"
                       Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"
                       Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32\1.0.0.0"
                       Name="Class" Value="Antix.Nibbler.Shell.CompressToMinContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32\1.0.0.0"
                       Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32\1.0.0.0"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32\1.0.0.0"
                       Name="CodeBase" Value="file:///[#fil14AC069DEBD4434F6AF1693199E63BAE]" Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32" Name="Class"
                       Value="Antix.Nibbler.Shell.CompressToMinContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32" Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{250D3181-B983-3BC2-8C7E-7AD27D28BCA3}\InprocServer32" Name="CodeBase"
                       Value="file:///[#fil14AC069DEBD4434F6AF1693199E63BAE]" Type="string" Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"
                       Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32\1.0.0.0"
                       Name="Class" Value="Antix.Nibbler.Shell.CompressContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32\1.0.0.0"
                       Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32\1.0.0.0"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32\1.0.0.0"
                       Name="CodeBase" Value="file:///[#fil14AC069DEBD4434F6AF1693199E63BAE]" Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32" Name="Class"
                       Value="Antix.Nibbler.Shell.CompressContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32" Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=1.0.0.0, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{72B27C08-DCB1-3007-A4B1-91F3D22E99BC}\InprocServer32" Name="CodeBase"
                       Value="file:///[#fil14AC069DEBD4434F6AF1693199E63BAE]" Type="string" Action="write" />

      </Component>
      <Component Id="Dependencies" Win64="yes">
        <File Source="$(var.Antix.Nibbler.Shell.TargetDir)SharpShell.dll" />
      </Component>
      <Component Id="Compressors" Win64="yes">
        <File Source="$(var.Antix.Nibbler.TargetDir)Yahoo.Yui.Compressor.dll" />
        <File Source="$(var.Antix.Nibbler.TargetDir)EcmaScript.NET.dll" />
        <File Source="$(var.Antix.Nibbler.TargetDir)Iesi.Collections.dll" />
        <File Source="$(var.Antix.Nibbler.TargetDir)Tools\Optipng.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>