<?xml version="1.0" encoding="UTF-8"?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Antix Nibbler" Language="1033" Version="3.0.0.01" Manufacturer="Antix Software Limited"
           UpgradeCode="500f2c62-b055-449c-81f0-f2ec5b409c86">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Antix Nibbler" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  
    <Icon Id="AppIcon" SourceFile="..\..\..\graphics\CompressThis.ico"/>
    <Property Id="ARPPRODUCTICON" Value="AppIcon" />
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="Antix Nibbler" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="Nibbler" Win64="yes">
        <File Source="$(var.Antix.Nibbler.TargetDir)Antix.Nibbler.dll" />
      </Component>
      <Component Id="NibblerShell" Win64="yes">
        <File Id="NibblerShellFile" KeyPath="yes" Source="$(var.Antix.Nibbler.Shell.TargetDir)Antix.Nibbler.Shell.dll" />
        <RegistryValue Root="HKLM"
                       Key="Software\Classes\*\shellex\ContextMenuHandlers\CompressThisContextMenu"
                       Type="string"
                       Value="{b967d8e3-00b8-3f08-b189-e87e050dcc81}" />
        <RegistryValue Root="HKLM"
                       Key="Software\Classes\*\shellex\ContextMenuHandlers\CompressToMinContextMenu"
                       Type="string"
                       Value="{ac3f6c7e-333c-3129-bee0-41ac22dcd110}" />
        <Class Id="{ac3f6c7e-333c-3129-bee0-41ac22dcd110}" Context="InprocServer32"
               Description="Antix.Nibbler.Shell.CompressToMinContextMenu" ThreadingModel="both"
               ForeignServer="mscoree.dll">
          <ProgId Id="Antix.Nibbler.Shell.CompressToMinContextMenu"
                  Description="Antix.Nibbler.Shell.CompressToMinContextMenu" />
        </Class>
        <Class Id="{b967d8e3-00b8-3f08-b189-e87e050dcc81}" Context="InprocServer32"
               Description="Antix.Nibbler.Shell.CompressThisContextMenu" ThreadingModel="both" ForeignServer="mscoree.dll">
          <ProgId Id="Antix.Nibbler.Shell.CompressThisContextMenu" Description="Antix.Nibbler.Shell.CompressThisContextMenu" />
        </Class>
        <RegistryValue Root="HKCR"
                       Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"
                       Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32\3.0.0.1"
                       Name="Class" Value="Antix.Nibbler.Shell.CompressToMinContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32\cz"
                       Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=3.0.0.1, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32\3.0.0.1"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32\3.0.0.1"
                       Name="CodeBase" Value="file:///[#NibblerShellFile]" Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32" Name="Class"
                       Value="Antix.Nibbler.Shell.CompressToMinContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32" Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=3.0.0.1, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{ac3f6c7e-333c-3129-bee0-41ac22dcd110}\InprocServer32" Name="CodeBase"
                       Value="file:///[#NibblerShellFile]" Type="string" Action="write" />
        <RegistryValue Root="HKCR"
                       Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\Implemented Categories\{62C8FE65-4EBB-45e7-B440-6E39B2CDBF29}"
                       Value="" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32\3.0.0.1"
                       Name="Class" Value="Antix.Nibbler.Shell.CompressThisContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32\3.0.0.1"
                       Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=3.0.0.1, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32\3.0.0.1"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32\3.0.0.1"
                       Name="CodeBase" Value="file:///[#NibblerShellFile]" Type="string"
                       Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32" Name="Class"
                       Value="Antix.Nibbler.Shell.CompressThisContextMenu" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32" Name="Assembly"
                       Value="Antix.Nibbler.Shell, Version=3.0.0.1, Culture=neutral, PublicKeyToken=cce7748b001b51af"
                       Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32"
                       Name="RuntimeVersion" Value="v4.0.30319" Type="string" Action="write" />
        <RegistryValue Root="HKCR" Key="CLSID\{b967d8e3-00b8-3f08-b189-e87e050dcc81}\InprocServer32" Name="CodeBase"
                       Value="file:///[#NibblerShellFile]" Type="string" Action="write" />

      </Component>
      <Component Id="Dependencies" Win64="yes">
        <File Source="$(var.Antix.Nibbler.Shell.TargetDir)SharpShell.dll" />
      </Component>
      <Component Id="Compressors" Win64="yes">
        <File Source="$(var.Antix.Nibbler.TargetDir)Yahoo.Yui.Compressor.dll" />
        <File Source="$(var.Antix.Nibbler.TargetDir)Compressors\Yahoo.Yui.Compressor.License.txt" />
        <File Source="$(var.Antix.Nibbler.TargetDir)EcmaScript.NET.dll" />
        <File Source="$(var.Antix.Nibbler.TargetDir)Iesi.Collections.dll" />
        <File Source="$(var.Antix.Nibbler.TargetDir)Optipng.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>